/* for pc */
* {
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-image: url('class_schedule.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* top_navigation */
#top_navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#top_navigation button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(36, 143, 143, 0.3);
    color: aliceblue;
    border: none;
}
#top_navigation button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

/* heading */
#heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#heading h1 {
    background-color: rgba(240, 248, 255, 0.5);
    padding: 10px 100px;
    color: black;
}

/* image */
#image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    opacity: 0.7;
    margin: 0 300px;
    border-radius: 20px;
}
#image img {
    height: 250px;
    width: 350px;
    border-radius: 10px;
}

/* marquee */
marquee {
    background-color: rgba(51, 204, 255, 0.3);
    color: aliceblue;
    padding: 10px;
    font-weight: bold;
    margin: 20px 0;
}

/* mainContent */
/* mainContentContainer */
.mainContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
}
/* dayContainer */
.dayContainer {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
}
.dayContainer button {
    width: 250px;
    text-align: left;
    margin: 0 0 10px 0;
    padding: 15px 5px 15px 80px ;
    border: none;
    font-size: 18px;
    background-color: rgba(128, 191, 255,0.3);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.dayContainer button:hover {
    background-color: rgba(36, 143, 143, 0.3);
}
/* dataStore */
.dataStore {
    background-color: rgba(36, 143, 143, 0.3);
    width: 65%;
    padding: 5px;
}
.dataStore h3 {
    color: white;
}
.dataStore p {
    background-color: rgba(204, 255, 255, 0.8);
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    font-weight: bold;
}
.buttonContainer {
    display: flex;
    flex-direction: row-reverse;
}
.buttonContainer button {
    background-color: rgba(51, 204, 255, 0.3);
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.buttonContainer button:hover {
    background-color: rgba(240, 248, 255,0.5);
    color: black;
}

/* gotoTop */
.goToTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 0 0;
}
.goToTop button {
    background-color: rgba(51, 204, 255, 0.3);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.goToTop button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: bold;
}

/* copyright */
.copyright {
    background-color: rgba(36, 143, 143, 0.3);
    color: white;
    text-align: center;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}












/* for phone */
@media screen and (max-width: 600px) {
    /* top_navigation */
    #top_navigation {
        display: flex;
        flex-direction: column;
    }
    #top_navigation button {
        text-align: left;
    }

    /* heading */
    #heading h1 {
        padding: 10px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    /* image */
    #image {
        margin: auto;
    }
    #image img {
        height: 160px;
        width: 100%;
    }

    /* marquee */
    marquee {
        margin: 13px 0;
    }
    
    /* mainContent */
    /* mainContentContainer */
    .mainContentContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin: 30px 0 0 0;
    }

    /* dayContainer */
    .dayContainer {
        display: flex;
        flex-direction: column;
        margin: 0 10px 0 0;
    }
    .dayContainer button {
        width: auto;
        margin: 0 0 10px 0;
        padding: 7px 10px ;
        border: none;
        font-size: 14px;
        background-color: rgba(128, 191, 255,0.3);
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }
    .dayContainer button:hover {
        background-color: rgba(36, 143, 143, 0.3);
    }

    /* dataStore */
    .dataStore {
        background-color: rgba(36, 143, 143, 0.3);
        width: 100%;
        padding: 5px;
    }
    .dataStore h3 {
        color: white;
    }
    .dataStore p {
        background-color: rgba(204, 255, 255, 0.8);
        text-align: right;
        padding: 5px 10px 5px 5px;
        font-size: 10px;
    }
    .buttonContainer {
        display: flex;
        flex-direction: row-reverse;
    }
    .buttonContainer button {
        background-color: rgba(51, 204, 255, 0.3);
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        font-size: 9px;
    }
    .buttonContainer button:hover {
        background-color: rgba(240, 248, 255,0.5);
        color: black;
    }

    /* gotoTop */
    .goToTop button {
        font-size: smaller;
    }

    /* copyright */
    .copyright {
        font-size: small;
    }
}